<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by BOUZIRE Noured-dine.</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/noured-dine-bouzire/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/NoureddineBzr" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:bouzire.noureddine1@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://x.com/NoureddineBzr" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
