<div class="accordion-left">
    <accordion [isAnimated]="true">
        <!-- Degrees and Training Accordion Group -->
        <accordion-group heading="Degrees and Training" [panelClass]="customClass" class="accordion-title">
            <div class="accordion-text">
                <p>Web Developer Java / Angular - <strong><span class="default-highlight">SIMPLON - Digital School Ahmed AL HANSALI</span></strong> - Beni Mellal</p>
                <p>DEUG Mathematics and Computer Science - SMI - <strong><span class="default-highlight">Sultan Moulay Slimane University</span></strong> - Beni Mellal</p>
                <p>Oracle Certified Professional: <strong><span class="default-highlight">Java SE 17 Developer</span></strong> - <span class="default-highlight">Oracle University, Online</span></p>
                <p>BACCALAUREATE Mathematical Sciences A - <strong><span class="default-highlight">Mohamed IV Technical High School</span></strong> - Azilal</p>
            </div>
        </accordion-group>

        <!-- Professional Experiences Accordion Group -->
        <accordion-group heading="Professional Experiences" panelClass="customClass" class="accordion-title">
            <div class="accordion-text">
                <p>Web Developer - <strong><span class="default-highlight">Academic Project</span></strong></p>
                <ul>
                    <li>Design and development of the E-Bank application, allowing users to manage their bank accounts, cards, and money transfers via a secure platform.</li>
                    <li><strong>Technologies used</strong>: Spring Boot (RestAPI), Spring Security, JWT, Maven, JPA Hibernate, MySQL, Flyway, Stripe, Angular 16, Angular CLI, Angular Materials, SCSS/CSS3/HTML5, Bootstrap, Docker, SonarQube, Jenkins, Junit, Git/GitHub.</li>
                </ul>

                <p>Fullstack Developer - <strong><span class="default-highlight">Freelance E-Learning Platform</span></strong></p>
                <ul>
                    <li>Design and development of a complete E-Learning platform allowing users to follow courses, manage their readings, and make online payments via Stripe.</li>
                    <li><strong>Technologies used</strong>: Spring Boot, Spring Data JPA, Hibernate, Spring Security, JWT, Spring Validation, Lombok, MySQL, Docker, Angular, TypeScript, RxJS, SCSS/CSS3/HTML5, Git/GitHub.</li>
                </ul>

                <p>Communication Officer – <strong><span class="default-highlight">Student Bureau (ENAA)</span></strong></p>
                <ul>
                    <li>Creation and design of visual materials (posters, flyers) for student events.</li>
                    <li>Management of social media accounts (communication strategy, content publication).</li>
                    <li>Writing and publishing announcements and promotional messages for events organized by the student office.</li>
                </ul>
            </div>
        </accordion-group>

        <!-- Technologies I Use Accordion Group -->
        <accordion-group heading="Technologies I Use" panelClass="customClass" class="accordion-title">
            <div class="tech-board">
                <div class="tech-cell">
                    <i class="devicon-java-plain-wordmark"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-spring-original-wordmark"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-hibernate-plain-wordmark"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-postgresql-plain-wordmark"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-angular-plain"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-typescript-plain"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-javascript-plain"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-html5-plain"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-css3-plain"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-bootstrap-plain"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-docker-plain-wordmark"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-git-plain-wordmark"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-github-original"></i>
                </div>
                <div class="tech-cell">
                    <i class="devicon-jira-plain-wordmark"></i>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>
