<div class="row align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">BOUZIRE Noured-dine, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I am a dedicated full stack developer with expertise in Java, Angular, and Spring Boot. Leveraging my fluency in English and French, I design and develop scalable, secure, and user-friendly applications, delivering exceptional performance and accessibility.
        </blockquote>
        <button>
            <a routerLink="/portfolio">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  